@import "./variable";
@import "/styles/components.scss";

.about {
  .about-intro {
    padding: 0 5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    &-img {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-text {
      // margin-right: 2rem;
      text-align: justify;
      margin-right: 1rem;
      max-width: 60%;
    }

    &-text-alt {
      display: none;
    }
  }

  .about-objectives {
    padding: 5rem;

    .objectives {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1.5rem;
      .objective {
        display: flex;
        align-items: center;
        text-align: justify;
        i {
          margin-right: 1rem;
          color: $secondary;
        }
        p {
          margin: 0;
        }
      }
    }
  }

  .about-targets {
    background: url("../public/imgs/memberbg.png"), rgba(12, 11, 66, 0.99);
    background-position: center;
    background-blend-mode: multiply;
    background-size: cover;

    .inner {
      padding: 5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $light;

      .top {
        .targets {
          .target {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            i {
              margin-right: 1rem;
            }
            p {
              margin: 0;
            }
          }
        }
      }
    }
  }

  .about-coordinator {
    .inner {
      padding-right: 5rem;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $secondary;
      color: $light;

      .coordinator-pic {
        height: 70vh;
        width: 40%;
        display: flex;
        align-items: center;
        position: relative;

        background: url("../public/imgs/cordinator.png");

        background-position: -5rem 5rem;
        background-attachment: fixed;
        background-blend-mode: multiply;
        background-size: contain;
        background-repeat: no-repeat;

        display: flex;
        align-items: center;
        justify-content: center;

        .bg {
          background-color: rgba(60, 164, 85, 0.5);
          padding: 2rem;
          display: flex;
          justify-content: center;
          border-radius: 0 25% 0 25%;

          .title {
            z-index: 1;

            .title-text {
              width: max-content;

              p {
                margin: 0;
              }
            }

            .closing-quote {
              transform: rotate(180deg);
            }
          }
        }
      }

      .about-coordinator-text {
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
          margin: 0;
          font-weight: 500;
        }

        p:nth-child(2) {
          margin: 1rem 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .about {
    .about-objectives {
      padding: 3rem;
      .objectives {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .about-intro {
      padding: 3rem;
    }

    .about-targets {
      .inner {
        padding: 3rem;
      }
    }

    .about-coordinator {
      .inner {
        padding-right: 3rem;

        .coordinator-pic {
          width: 50%;
          height: 80vh;
          background-position: -7rem 5rem;
        }
        .about-coordinator-text {
          width: 40%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .about {
    .about-intro {
      flex-direction: column-reverse;

      &-text {
        max-width: 100%;
        margin-right: 0;

        text-align: justify;

        .text3 {
          display: none;
        }
      }

      &-text-alt {
        display: flex;
        width: 100%;
      }
    }

    .about-objectives {
      .objectives {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    .about-targets {
      .inner {
        flex-direction: column;

        .top {
          margin-bottom: 1rem;
        }
      }
    }

    .about-coordinator {
      .inner {
        padding: 0;
        flex-direction: column;

        .coordinator-pic {
          width: 100vw;
          height: 80vh;
          background-position: center;
          background-size: cover;
          margin: 0;
        }
        .about-coordinator-text {
          width: 100%;
          padding: 3rem;
          text-align: justify;
        }
      }
    }
  }
}
@media screen and (max-width: 512px) {
  .about {
    .about-intro {
      padding: 1.5rem;
    }
    .about-objectives {
      padding: 1.5rem;
    }
    .about-targets {
      .inner {
        padding: 3rem 1.5rem;
      }
    }
    .about-coordinator {
      .inner {
        .about-coordinator-text {
          padding: 1.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 300px) {
  .about {
    .about-coordinator {
      .inner {
        .coordinator-pic {
          background-position: -15rem center;
        }
      }
    }
  }
}
