@import "./variable";

@keyframes morph {
  0%,
  100% {
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
  }
  33% {
    border-radius: 72% 28% 48% 48% / 28% 28% 72% 72%;
  }
  66% {
    border-radius: 100% 56% 56% 100% / 100% 100% 56% 56%;
  }
}

.navbar {
  margin: 0;
  display: flex;
  align-items: center;
  background-color: light;
  padding: 0;
  width: 100%;

  position: fixed;
  background-color: $light;

  box-shadow: 0 12px 14px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0 12px 14px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 12px 14px 0px rgba(0, 0, 0, 1);
  z-index: 1;

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
    width: 100%;
    height: 4rem;

    .navbar-brand {
      width: 5rem;
      padding: 0;
      cursor: pointer;
    }

    ul {
      display: flex;
      align-items: center;
      height: inherit;
      margin: 0;
      li {
        margin-right: 2rem;
        color: $secondary;
        font-size: 0.9rem;
        text-align: center;
        font-weight: 600;
        cursor: pointer;

        &:hover {
          color: $primary;
        }
      }
    }

    .nav-menu-btn {
      display: none;
      .menu-btn {
        position: fixed;
        top: 1%;
        right: 5%;
        // border-radius: 15px;
        border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
        animation: morph 3.75s linear infinite;
        height: 3rem;
        width: 3rem;
        z-index: 999;
        align-items: center;
        justify-content: center;
        background: linear-gradient(180deg, #176bfb -0.82%, #3ca455 100%);
        cursor: pointer;
        box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.86);
        -webkit-box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.86);
        -moz-box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.86);
        transition: all 1.5s;

        .menu-wrapper {
          width: 85%;
          height: 80%;
          background: linear-gradient(180deg, #176bfb -0.82%, #3ca455 100%);
          // border-radius: 15px;
          border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
          animation: morph 3.75s linear infinite;

          // opacity: 0.7;

          box-sizing: border-box;
          align-items: center;
          justify-content: flex-end;
          display: flex;
          transition: all 0.5s;

          .menu-btn-box {
            margin-right: 0.5rem;
            width: 80%;
            height: 55%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-end;

            .box {
              height: 0.15rem;
              background-color: $light;
              border-radius: 50px;
              transition: all 0.5s linear;
              transform-origin: 2px;
            }
            .box1 {
              width: 75%;
            }
            .box2 {
              width: 50%;
            }
            .box3 {
              width: 60%;
            }
          }
        }
        &:hover {
          .menu-wrapper {
            box-shadow: 1px 1px 5px #0c0c3b, -1px -5px 5px #010102;
          }
        }
      }

      .show-menu-btn {
        top: 4%;
        right: 2%;
      }
    }
  }

  .menu-btn-close {
    border-radius: 50%;
    background-color: transparent;
    right: 10%;
    justify-content: center;

    .menu-wrapper {
      justify-content: center;
      border-radius: 50%;

      .menu-btn-box {
        margin: 0;
        align-items: center;

        .box1 {
          transform: rotate(45deg);
          width: 80% !important;
        }
        .box2 {
          opacity: 0;
          transform: translateX(20px);
        }
        .box3 {
          width: 80% !important;
          transform: rotate(-45deg);
        }
      }
    }
  }

  .mobile-menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    // background-color: rgba(24, 96, 221, 0.2);

    z-index: 3;
    top: 0;
    left: -100%;
    // left: 0;
    transition: all 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

    .first-wrapper {
      background: linear-gradient(120deg, #176bfb -0.82%, #3ca455 100%);
      border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
      animation: morph 8.75s linear infinite;

      height: 100%;
      width: 100%;

      .second-wrapper {
        // border-radius: 100% 0% 100% 0% / 0% 1% 99% 100%;
        // background-color: $dark;
        // border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
        // animation: morph 3.75s linear infinite;
        height: 90%;
        padding: 3rem;
        display: flex;
        justify-content: center;
        text-align: center;

        ul {
          height: 80%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .nav-item {
            color: $light;
            font-weight: 700;
            cursor: pointer;
            &:hover {
              color: $secondary;
            }
          }

          .donate-btn {
            button {
              padding: 0.4rem 2rem;
            }
          }
        }

        .nav-logo {
          width: 5rem;
          height: 5rem;
          padding: 0.5rem;
          border-radius: 50%;
          background-color: $light;
          box-shadow: 2px 2px 10px #0c0c3b, -1px -5px 5px #010102;
        }
      }
    }

    .close-btn {
      position: absolute;
      width: 100%;
      bottom: 10%;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        color: $secondary;
        border: 2px solid $secondary;
        margin: 0;
        font-size: 2.5rem;
        padding: 0.3rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.5s;

        &:hover {
          background-color: $light;
        }
      }
    }
  }

  .show-menu {
    left: 0;
  }

  @media screen and (max-width: 1050px) {
    .inner {
      padding: 0 3rem;
      .navbar-brand {
        width: 4rem;

        padding: 0;
      }
      ul {
        li {
          font-size: 0.8rem;
          margin-right: 1rem;
        }
      }

      .donate-btn {
        button {
          padding: 0.4rem 2rem;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    position: absolute;

    .inner {
      ul {
        display: none;
        li {
          font-size: 0.6rem;
          margin-right: 1rem;
        }
      }

      .donate-btn {
        display: none;
      }

      .nav-menu-btn {
        display: flex;
      }
    }
    .menu-btn {
      display: flex;
    }
  }

  @media screen and (max-width: 512px) {
    .inner {
      padding: 1.5rem;
    }
  }
}

.footer {
  padding: 2rem 5rem;
  font-size: 0.9rem;

  .inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .contact {
      width: 40%;
      padding: 0;
      .about {
        display: flex;

        p {
          margin: 0;
        }
      }
      .contact-box {
        p {
          margin: 0.5rem 0;
          i {
            margin-right: 0.5rem;
          }
        }

        .contact-text {
          display: block;
        }
      }
    }

    .links {
      width: 30%;

      ul {
        li {
          cursor: pointer;
          // transition: all 0.5s;

          &:hover {
            color: $secondary;
            font-weight: bold;
          }
        }
      }
    }

    .socials {
      width: 30%;

      ul {
        display: flex;

        li {
          margin-right: 1rem;
          cursor: pointer;
          transition: all 0.5s;
          font-size: 1.2rem;

          &:hover {
            transform: scale(1.21);
            color: $secondary;
            font-weight: bold;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1050px) {
  }
  @media screen and (max-width: 768px) {
    padding: 2rem 3rem;
    .inner {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;

      .contact {
        width: 100%;
      }

      .links {
        width: 100%;
      }
      .socials {
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 512px) {
    padding: 2rem 1.5rem;
    .inner {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.page-top {
  .title {
    height: 60vh;
    padding: 5rem;
    border-bottom: 2px solid $primary;
    border-top: 2px solid $primary;
    color: $light;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title-text {
      padding-top: 5rem;
      // background-color: #fff;
      h1 {
        font-weight: 900;
      }
    }
  }

  @media screen and (max-width: 1050px) {
    .title {
      padding: 3rem;
      height: 40vh;
    }
  }
  @media screen and (max-width: 512px) {
    .title {
      padding: 1.5rem;
    }
  }
}
