@import "./variable";

.navbar {
  margin: 0;
  display: flex;
  align-items: center;
  background-color: light;
  padding: 0;
  width: 100%;

  box-shadow: 0 12px 14px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0 12px 14px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 12px 14px 0px rgba(0, 0, 0, 1);
  z-index: 1;

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    width: 100%;
    height: 4rem;

    .navbar-brand {
      width: 5rem;
      padding: 0;
    }

    ul {
      display: flex;
      align-items: center;
      height: inherit;
      margin: 0;
      li {
        margin-right: 1.5rem;
        color: rgba(24, 24, 24, 0.9);
        font-size: 0.9rem;
        text-align: center;
        font-weight: 600;
      }
    }
  }

  @media screen and (max-width: 1050px) {
    .inner {
      padding: 0 2.5rem;
      .navbar-brand {
        width: 4rem;

        padding: 0;
      }
      ul {
        li {
          font-size: 0.8rem;
          margin-right: 1rem;
        }
      }

      .donate-btn {
        button {
          padding: 0.4rem 2rem;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .inner {
      ul {
        display: none;
        li {
          font-size: 0.6rem;
          margin-right: 1rem;
        }
      }
    }
  }
  @media screen and (max-width: 512px) {
  }
}

.footer {
  padding: 2rem 5rem;
  font-size: 0.9rem;

  .inner {
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // place-items: start center;
    // grid-gap: 5rem;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .contact {
      width: 40%;
      // background: #000;
      padding: 0;
      .about {
        display: flex;
        // align-items: center;

        p {
          margin: 0;
          // margin-left: 1rem;
        }
      }
      .contact-box {
        p {
          margin: 0.5rem 0;
          i {
            margin-right: 0.5rem;
          }
        }

        .contact-text {
          display: block;
        }
      }
    }

    .links {
      width: 30%;
    }

    .socials {
      width: 30%;

      ul {
        display: flex;

        li {
          margin-right: 1rem;
        }
      }
    }
  }
  @media screen and (max-width: 1050px) {
  }
  @media screen and (max-width: 768px) {
    padding: 2rem 3rem;
    .inner {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;

      .contact {
        width: 100%;
      }

      .links {
        width: 100%;
      }
      .socials {
        width: 100%;
      }
      // place-items: end;
    }
  }
  @media screen and (max-width: 512px) {
    padding: 2rem 1.5rem;
    .inner {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
