@import "./variable";

.events-page {
  background: url("../public/imgs/eventbg.jpg"), rgba(5, 2, 32, 0.9);
  padding-top: 5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
  // height: 100vh;
  .inner {
    padding: 3rem 5rem;
    // background-color: #fff;
    // display: flex;
    // justify-content: center;

    .title {
      margin-bottom: 2rem;
      color: $light;
      text-align: center;
    }
    .upcoming-events {
      margin-bottom: 3rem;
    }
    .events {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      place-items: start center;
      grid-gap: 0.5rem;
      width: 100%;
      // background: #000;
      // place-items: center;
      .event {
        background: transparent;
        box-shadow: 0px 4px 19px 2px rgba(0, 0, 0, 0.05);
        border-radius: 25px;
        max-width: 300px;
        border-left: 2px solid $primary;
        border-right: 2px solid $primary;
        padding: 1rem 0.5rem;

        // min-height: 20rem;
        transition: all 0.5s;

        .event-img {
          position: relative;
          width: 100%;

          .event-date {
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: $light;
            text-align: center;
            font-size: 0.7rem;
            padding: 0.5rem;
            color: $secondary;

            p {
              margin: 0;
              font-weight: 600;
            }
          }
        }

        .event-details {
          padding: 1rem;
          background: $light;
          border-radius: 0 0 8px 8px;

          h6 {
            font-weight: 600;
            font-size: 0.9rem;
            // margin-bottom: 0;
          }

          .event-venue {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.5rem;
            small {
              font-style: italic;
              font-size: 0.7rem;
              font-weight: 500;
              // margin: 0.5rem 0;
            }
          }

          .event-description {
            p {
              font-size: 0.7rem;
              color: $dark;
              margin: 0;
              text-align: justify;
              font-weight: 500;
            }
          }
        }

        &:hover {
          transform: scale(1.01);
          filter: opacity(0.8);
        }
      }
    }

    .view-past-btn {
      display: flex;
      justify-content: center;
    }

    @media screen and (max-width: 1050px) {
      padding: 3rem 1.5rem;
      .events {
        grid-gap: 1.5rem;
        .event {
        }
      }
    }
    @media screen and (max-width: 768px) {
      padding: 3rem;
      .events {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        .event {
        }
      }
    }
    @media screen and (max-width: 512px) {
      padding: 1.5rem;
      .title {
        text-align: center;
      }
      .events {
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
        .event {
        }
      }
    }
  }
}
