@import "./variable";

.events-page {
  background-color: $light;
  .inner {
    padding: 3rem 5rem;

    .title {
      margin-bottom: 2rem;
    }
    .upcoming-events {
      margin-bottom: 3rem;
    }
    .events {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
      // place-items: center;
      .event {
        background: #ffffff;
        box-shadow: 0px 4px 19px 2px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        max-width: 250px;
        min-height: max-content;
        transition: all 0.5s;

        .event-img {
          border-radius: 8px;
          position: relative;
          width: 100%;
          // height: 100%;

          .event-date {
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: #ffffff;
            text-align: center;
            font-size: 0.7rem;
            padding: 0.5rem;
            color: $secondary;

            p {
              margin: 0;
              font-weight: 600;
            }
          }
        }

        .event-details {
          padding: 0.5rem;

          h6 {
            font-weight: 600;
            // font-size: 0.9rem;
            // margin-bottom: 0;
          }

          .event-venue {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.5rem;
            small {
              font-style: italic;
              font-size: 0.8rem;
              font-weight: 400;
              // margin: 0.5rem 0;
            }
          }

          .event-description {
            p {
              font-size: 0.7rem;
              color: $dark;
              margin: 0;
              text-align: justify;
              font-weight: 500;
            }
          }
        }

        &:hover {
          transform: scale(1.03);
        }
      }
    }

    @media screen and (max-width: 1050px) {
      padding: 3rem;
      .events {
        .event {
        }
      }
    }
    @media screen and (max-width: 768px) {
      padding: 3rem;
      .events {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        .event {
        }
      }
    }
    @media screen and (max-width: 512px) {
      padding: 1.5rem;
      .title {
        text-align: center;
      }
      .events {
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
        .event {
        }
      }
    }
  }
}
