@import "./variable";

.gallery {
  .inner {
    padding: 2rem;

    h6 {
      margin-bottom: 2rem;
      text-transform: uppercase;
    }
    .gallery-wrapper {
      // display: grid;
      // grid-template-columns: repeat(3, 1fr);
      // grid-auto-rows: auto;
      // place-items: center;
      // //   flex-wrap: wrap;
      // justify-content: space-between;
      // grid-gap: 0.5rem;

      column-count: 5;
      column-width: 20%;
      // height: max-content;
      // padding: 12px;
      .gallery-img {
        // border: 2px solid $primary;
        // margin: 1rem;
        // margin-left: 0;
        // min-height: 100px;
        transition: all 350ms ease;
        cursor: pointer;
        margin-bottom: 0.5rem;

        &:hover {
          filter: opacity(0.8);
        }
      }
    }
    @media screen and (max-width: 1050px) {
      padding: 1.5rem;

      .gallery-wrapper {
        column-count: 3;
        .gallery-img {
        }
      }
    }
    @media screen and (max-width: 768px) {
      padding: 1.5rem;

      .gallery-wrapper {
        column-count: 3;
        .gallery-img {
        }
      }
    }
    @media screen and (max-width: 512px) {
      padding: 1rem;

      .gallery-wrapper {
        .gallery-img {
        }
      }
    }
  }
}
