@import "./variable";

.gallery {
  background: $light;
  height: 100vh;
  width: 100%;
  position: fixed;
  //   top: 0;
  //   left: 0;
  //   z-index: 999;
  padding: 5rem 0 0 0;

  display: flex;
  justify-content: center;
  //   align-items: flex-end;
  .inner {
    height: 100%;
    width: 100%;
    // background-color: #000;
    h6 {
      margin-bottom: 2rem;
      text-transform: uppercase;
    }
    .gallery-wrapper {
      height: 100%;
      display: flex;
      justify-content: space-between;
      padding-right: 0.5rem;

      .view-box {
        background-color: #000;
        width: 70%;
        height: 100%;
      }

      .imgs-box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        overflow-y: scroll;
        padding: 1rem;

        &::-webkit-scrollbar {
          margin-top: 1rem;
          height: 0.7rem;
        }

        &::-webkit-scrollbar-track {
          border-radius: 2rem;
          background-color: $light;
        }

        &::-webkit-scrollbar-thumb {
          border: 3px solid $light;
          background: $secondary;
          border-radius: 5rem;
        }

        .gallery-img {
          transition: all 350ms ease;
          cursor: pointer;
          margin-bottom: 0.5rem;
          height: 5rem;
          width: 6rem;

          img {
            border-radius: 20px;
            width: 100%;
            height: 100%;
          }

          &:hover {
            filter: opacity(0.8);
          }
        }
      }
    }
    @media screen and (max-width: 1050px) {
      .gallery-wrapper {
        .view-box {
          width: 60%;
          height: 100%;
        }

        .imgs-box {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 10px;
          overflow-y: scroll;
          padding: 1rem;

          .gallery-img {
            transition: all 350ms ease;
            cursor: pointer;
            margin-bottom: 0.5rem;
            height: 4rem;
            width: 5rem;

            &:hover {
              filter: opacity(0.8);
            }
          }
        }
      }
    }
    @media screen and (max-width: 768px) {
      .gallery-wrapper {
        flex-direction: column;
        padding-right: 0;

        padding-bottom: 0.5rem;

        .view-box {
          width: 100%;
          height: 80%;
        }

        .imgs-box {
          display: flex;
          flex-wrap: nowrap;

          //   grid-template-columns: repeat(3, 1fr);
          //   grid-gap: 10px;
          overflow-x: scroll;
          overflow-y: hidden;
          width: 100%;
          padding: 1rem;

          .gallery-img {
            transition: all 350ms ease;
            cursor: pointer;
            height: 5rem;
            min-width: 6rem;
          }
        }
      }
    }
    @media screen and (max-width: 512px) {
      //   padding: 1rem;

      .gallery-wrapper {
        .gallery-img {
        }
      }
    }
  }
}
