@import "./variable";
.gallery {
  .inner {
    height: calc(100vh - 5rem);
    // padding-top: 6rem;
    padding: 1rem 0;

    background: $light;
    .image-gallery {
      height: 100%;

      .image-gallery-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .image-gallery-slide-wrapper {
          // background-color: $dark;
          .image-gallery-swipe {
            display: flex;
            align-items: center;
            justify-content: center;
            .image-gallery-slides {
              .image-gallery-slide {
                height: 23rem;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                  height: 100%;
                  object-fit: cover;
                }
              }
            }
          }
        }

        .image-gallery-thumbnails-wrapper {
          border-top: 2px solid $dark;
          border-bottom: 2px solid $dark;
          // padding: 0.5rem 0;
          .image-gallery-thumbnails {
            border-top: 5px dashed $dark;
            border-bottom: 5px dashed $dark;
            padding: 0;
            .image-gallery-thumbnails-container {
              .image-gallery-thumbnail {
                background-color: $dark;
                margin: 0;

                .image-gallery-thumbnail-inner {
                  height: 4rem;
                  img {
                    height: 100%;
                    object-fit: cover;
                    opacity: 0.7;
                  }
                }
              }
              .active {
                border: none;
                border-left: 2px solid $light;
                border-right: 2px solid $light;
                .image-gallery-thumbnail-inner {
                  img {
                    opacity: 1;
                  }
                }
              }

              .image-gallery-thumbnail:hover {
                opacity: 0.8;
                border-color: $dark;
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      padding-bottom: 2rem;

      .image-gallery {
        .image-gallery-content {
          .image-gallery-thumbnails-wrapper {
            .image-gallery-thumbnails {
              .image-gallery-thumbnails-container {
                .image-gallery-thumbnail {
                  .image-gallery-thumbnail-inner {
                    height: 3rem;
                  }
                }
              }
            }
          }
        }
      }
    }
    @media screen and (max-width: 512px) {
      padding: 2rem 0;

      height: 80vh;

      .image-gallery {
        height: 100%;

        .image-gallery-content {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          .image-gallery-slide-wrapper {
            .image-gallery-swipe {
              display: flex;
              align-items: center;
              justify-content: center;
              .image-gallery-slides {
                .image-gallery-slide {
                  height: 25rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  img {
                    height: 100%;
                  }
                }
              }
            }
          }
          .image-gallery-thumbnails-wrapper {
            .image-gallery-thumbnails {
              .image-gallery-thumbnails-container {
                .image-gallery-thumbnail {
                  .image-gallery-thumbnail-inner {
                    height: 3rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
