@import "./variable";
@import "/node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "~react-image-gallery/styles/scss/image-gallery.scss";

html,
body {
  padding: 0;
  margin: 0;

  font-family: "Montserrat", sans-serif;

  &::-webkit-scrollbar {
    margin-top: 1rem;
    height: 0.7rem;
  }

  &::-webkit-scrollbar-track {
    border-radius: 2rem;
    background-color: $light;
  }

  &::-webkit-scrollbar-thumb {
    border: 3px solid $light;
    background: $secondary;
    border-radius: 5rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

.btn {
  border-radius: 4px;
  color: #ffffff;
  padding: 0.6rem 3rem;
  font-weight: 500;
  font-size: 0.9rem;
}

.btn-primary {
  &:hover {
    background-color: transparent;
    color: $primary;
    border: 2px solid $primary;
  }
}
.btn-secondary {
  &:hover {
    background-color: transparent;
    color: $secondary;
    border: 2px solid $secondary;
  }
}
